header nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5% 10%;
    background-color: #fff;
    border-bottom: 1px solid #000;
}
header nav span {
    text-transform: uppercase;
    font-weight: 500;
}
#wrap {
    height: 100vh;
}
#wrap .blue {
    height: 50vh;
    background-color: #000;
    position: relative;
}
#wrap .intro .blue h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    position: absolute; bottom: 10%; left: 50%;
    transform: translate(-50%);
}
#wrap .intro h2 {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    padding: 1.5% 0;
}
#wrap .intro .btn {
    display: flex;
    justify-content: center;
    gap: 50px;
}
#wrap .intro span {
    background-color: #000;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}
#wrap .profile .container {
    display: flex;
    padding-top: 3%;
}
#wrap .profile .photo_info {
    width: 545px;
    height: 993px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#wrap .profile .photo_info img {
    padding-top: 43px;
    padding-bottom: 40px;
}
#wrap .profile .photo_info .info {
    text-align: left;
    border-right: 1px solid #D9D9D9;
    padding-right: 10%;
}
#wrap .photo_info .info li {
    margin-bottom: 26px;
    color: #000;
}
#wrap .photo_info .info li .i_title {
    font-weight: 700;
    color: #000;
}
#wrap .photo_info .info li a {
    margin-bottom: 26px;
    color: #000;
    background-color: #fff;
    border-radius: 30px;
    padding: 4px 18px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .photo_info .info li a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s linear;
}
#wrap .profile .resume {
    display: flex;
}
#wrap .profile .resume .re_zone .top_co {
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    padding: 15px 0;
}
#wrap .profile .resume .re_zone .top_co h2 {
    font-size: 1.5rem;
}
#wrap .profile .resume .re_zone .re_wrap {
    display: flex;
    margin: 0 auto;
    padding: 5% 5%;
}
#wrap .profile .resume .re_zone .re_wrap .top {
    display: flex;
    flex-flow: row wrap;
/*     border-right: 1px solid #D9D9D9; */
}
#wrap .profile .resume .re_zone .re_wrap .top .education li ,
#wrap .profile .resume .re_zone .re_wrap .top .experience li  {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li .title,
#wrap .profile .resume .re_zone .re_wrap .top .experience li .title {   
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li span ,
#wrap .profile .resume .re_zone .re_wrap .top .experience li span {
    color: #9E9E9E;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li span .b_font,
#wrap .profile .resume .re_zone .re_wrap .top .experience li span .b_font {
    color: #000
}
#wrap .profile .resume .re_zone .re_wrap .bottom {
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li ,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li  {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li .title,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li .title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li span ,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li span {
    color: #9E9E9E;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li img {
    margin-right: 10PX;
}
#wrap .thumnail {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f1f1f1;
    padding-left: 5%;
}
#wrap .thumnail .contents {
    width: 50vw;
    height: 50vh;
    padding-top: 8%;
}
#wrap .thumnail .contents li {
    font-size: 1rem;
}
#wrap .thumnail .contents li:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 600;
}
#wrap .thumnail .contents li:nth-of-type(2) {
    font-size: 1rem;
    margin-top: 127px;
    margin-bottom: 30px;
    font-weight: 600;
}
#wrap .thumnail .contents li:nth-of-type(3) {
    margin-bottom: 30px;
}
#wrap .thumnail .contents li:nth-of-type(4) {
    font-weight: 600;
}
#wrap .thumnail .contents li:nth-of-type(5) {
    margin-bottom: 30px;
}
#wrap .thumnail .contents li:nth-of-type(6) {
    margin-bottom: 30px;
}
#wrap .thumnail .contents li:nth-of-type(7) {
    margin-bottom: 60px;
}
#wrap .thumnail .contents li a {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .thumnail .contents li a:nth-of-type(4) {
    background-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .thumnail .contents li a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s linear;
}
#wrap .thumnail .mouk {
    background: url(../images/mockup/honey.png) center top -180px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk2 {
    background: url(../images/mockup/marketb.png) center top -180px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk3 {
    background: url(../images/mockup/dasung.png) center top -180px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk4 {
    background: url(../images/mockup/ably.png) center top -180px / cover;
    width: 950px;
    height: 1080px;
}
.project .container {
    position: relative;
}
.swiper-slide.design .container h2 {
    font-size: 2rem;
    text-align: center;
}
.swiper-slide.design .container P {
    font-size: 1.3rem;
    text-align: center;
    margin: 14px 0px;

}
.project .swiper-pagination {
    bottom: 300px;
    position: absolute;
}
#wrap .swiper-wrapper .design .container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
#wrap .swiper-wrapper .design .container h2 {}
#wrap .swiper-wrapper .design .container h2+P {}
#wrap .swiper-wrapper .design .container #sns_swiper {
    height: 100%;
    width: 1000px;
}
#wrap .swiper-wrapper .swiper-slide.design .container #sns_swiper.s2 {
    height: 450px;
    width: 1000px;
    overflow: hidden;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-wrapper {
    transition-timing-function: linear;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide {
    width: 800px;
    margin: 50px auto 0;
    cursor: pointer;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide:hover {
    opacity: 0.5;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide img {
    width: 100%;
}
/* 디자인팝업 */
.popup_bg {
    position: fixed; left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
    width: 100%; height: 100vh;
    display: none;
}
.popup_bg .popup {
    width: 700px; margin: 0 auto;
    height: 80vh; overflow: auto;
}
.popup_bg .popup img {
    width: 100%;
}
#wrap .qr_zone {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap .qr_zone .m {
    font-size: 1.5rem;
    margin-left: 10px;
}