header nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 4px 0;
}
header nav span {
    text-transform: uppercase;
    font-weight: 500;
}
header nav span:hover {
    background: linear-gradient(90deg, #2ff3f3 , #24dd68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#wrap {
    height: 100vh;
}
#wrap .intro {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
#wrap .intro .circle {
    position: absolute;
    top: 236px;
    left: 778px;
    z-index: 1;
}
#wrap .intro .circle video {
    width: 650px;
    height: 400px;
}
#wrap .intro h1 {
    color: #fff;
    font-family: 'ElectricalSafety', sans-serif;
    font-size: 6rem;
    z-index: 2;
    position: absolute;
    top: 384px;
    left: 280px;
}
#wrap .intro h2 {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 479px;
    left: 280px;
}
#wrap .intro .btn {
    display: flex;
    flex-flow: column wrap;
    gap: 58px;
    position: absolute;
    top: 312px;
    left: 1200px;
    z-index: 2;
    width: 452px;
    height: 274px;
    text-align: left;
}
#wrap .intro span {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 10px;
    font-family: 'ElectricalSafety', sans-serif;
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
}
/* #wrap .intro span:hover {
    border-bottom: 3px solid #fff;
    transition: 3s linear;
} */
#wrap .intro span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.4s ease;
}
#wrap .intro span:hover::after {
    width: 100%;
}
#wrap .profile .container {
    display: flex;
    padding-top: 3%;
}
#wrap .profile .photo_info {
    width: 545px;
    height: 993px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#wrap .profile .photo_info img {
    padding-top: 43px;
    padding-bottom: 40px;
}
#wrap .profile .photo_info .info {
    text-align: left;
    border-right: 1px solid #D9D9D9;
    padding-right: 10%;
}
#wrap .photo_info .info li {
    margin-bottom: 26px;
    color: #000;
}
#wrap .photo_info .info li .i_title {
    font-weight: 700;
    color: #000;
}
#wrap .photo_info .info li a {
    margin-bottom: 26px;
    color: #000;
    background-color: #fff;
    border-radius: 30px;
    padding: 4px 18px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .photo_info .info li a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s linear;
}
#wrap .profile .resume {
    display: flex;
}
#wrap .profile .resume .re_zone .top_co {
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    padding: 15px 0;
}
#wrap .profile .resume .re_zone .top_co h2 {
    font-size: 1.5rem;
}
#wrap .profile .resume .re_zone .re_wrap {
    display: flex;
    margin: 0 auto;
    padding: 5% 5%;
}
#wrap .profile .resume .re_zone .re_wrap .top {
    display: flex;
    flex-flow: row wrap;
/*     border-right: 1px solid #D9D9D9; */
}
#wrap .profile .resume .re_zone .re_wrap .top .education li ,
#wrap .profile .resume .re_zone .re_wrap .top .experience li  {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li .title,
#wrap .profile .resume .re_zone .re_wrap .top .experience li .title {   
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li span ,
#wrap .profile .resume .re_zone .re_wrap .top .experience li span {
    color: #9E9E9E;
}
#wrap .profile .resume .re_zone .re_wrap .top .education li span .b_font,
#wrap .profile .resume .re_zone .re_wrap .top .experience li span .b_font {
    color: #000
}
#wrap .profile .resume .re_zone .re_wrap .bottom {
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li ,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li  {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li .title,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li .title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .licenses li span ,
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li span {
    color: #9E9E9E;
}
#wrap .profile .resume .re_zone .re_wrap .bottom .skill li img {
    margin-right: 10px;
}
#wrap .thumnail {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}
#wrap .thumnail .contents {
    background: url(../images/wd/bg3.png);
    width: 50vw;
    height: 100vh;
}
#wrap .thumnail .contents h1 {
    font-size: 2.5rem;
    font-family: 'ElectricalSafety', sans-serif;
    color: #fff;
    padding-top: 100px;
    padding-left: 110px;
    padding-bottom: 25px;
}
#wrap .thumnail .contents .se {
    background-color: #fff;
    width: 753px;
    height: 624px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
}
#project_swiper .sedept {
    padding-top: 49px;
    padding-left: 34px;
}
#project_swiper .sedept .p_title {
    font-weight: 600;
    font-size: 1.8rem;
}
#project_swiper .sedept .m_title {
    font-size: 1.5rem;
    padding-bottom: 60px;
}
#project_swiper  .sedept .use {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 8px;
}
#project_swiper .sedept .program {
    font-size: 1rem;
    padding-bottom: 40px;
    text-transform: uppercase;
}
#project_swiper .sedept .period {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 8px;
}
#project_swiper .sedept .time {
    font-size: 1rem;
    padding-bottom: 40px;
}
#project_swiper .sedept .page_t {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 8px;
}
#project_swiper .sedept .page {
    font-size: 1rem;
    padding-bottom: 40px;
}
#project_swiper .sedept .layout_t {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 8px;
}
#project_swiper .sedept .layout {
    font-size: 1rem;
    padding-bottom: 40px;
}
#wrap .thumnail .contents .se .bt {
    padding-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 14px;
}
#wrap .thumnail .contents .se .bt a {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .thumnail .contents .se .bt a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s linear;
}
#wrap .thumnail .contents .se .bt a:before {
    background-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .thumnail .contents .se .bt a:last-of-type {
    background-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
#wrap .thumnail .contents .se .bt a:last-of-type(4):hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s linear;
}
#wrap .thumnail .mouk {
    background: url(../images/mockup/honey.png) center top -120px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk2 {
    background: url(../images/mockup/marketb.png) center top -120px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk3 {
    background: url(../images/mockup/dasung.png) center top -120px / cover;
    width: 950px;
    height: 1080px;
}
#wrap .thumnail .mouk4 {
    background: url(../images/mockup/ably.png) center top -120px / cover;
    width: 950px;
    height: 1080px;
}
.project .container {
    position: relative;
}
.swiper-slide.design .container h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.swiper-slide.design .container P {
    font-size: 1.3rem;
    text-align: center;
    margin: 14px 0px;

}
.project .swiper-pagination {
    bottom: 150px;
    position: absolute;
}
#wrap .swiper-wrapper .design .container {
    width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
#wrap .swiper-wrapper .design .container h2 {}
#wrap .swiper-wrapper .design .container h2+P {}
#wrap .swiper-wrapper .design .container #sns_swiper {
    height: 100%;
    width: 1400px;
}
#wrap .swiper-wrapper .swiper-slide.design .container #sns_swiper.s2 {
    height: 450px;
    width: 1400px;
    overflow: hidden;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-wrapper {
    transition-timing-function: linear;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide {
    width: 1400px;
    margin: 35px auto 0;
    cursor: pointer;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide:hover {
    opacity: 0.5;
}
#wrap .swiper-wrapper .design .container #sns_swiper .swiper-slide img {
    width: 100%;
}
/* 디자인팝업 */
.popup_bg {
    position: fixed; left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
    width: 100%; height: 100vh;
    display: none;
}
.popup_bg .popup {
    width: 700px; margin: 0 auto;
    height: 80vh; overflow: auto;
}
.popup_bg .popup img {
    width: 100%;
}
#wrap .qr_zone {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
#wrap .qr_zone .m {
    font-size: 1.5rem;
    margin-left: 10px;
}
#wrap .qr_zone .m p {
    color: #fff;
    margin-bottom: 4px;
}
@font-face {
    font-family: 'ElectricalSafety';
    src: url('./fonts/electrical_safety_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElectricalSafety';
    src: url('./fonts/electrical_safety_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}